;;
;; Registry Site Configuration
;;
;; This is for LAMsight w/ in a developer configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             t)
 (:installation-path            nil)
 (:site-base-url                "localhost:8080")
 (:google-analytics-id 		nil)
 (:google-api-url		"http://www.google.com/jsapi?key=ABQIAAAAS6WWQbiomrd3kZWp6NQKlRRW9Ojj9uefPpNH758_wpruabskfBTQFAScx6CR5O7NP3RaWfwXK70_5A")

 ;; Main Page Customization
 (:site-name                    "LAMsight DEVELOPMENT")
 (:site-description 		"")
 (:email-admin-address          "eslick@media.mit.edu")
 (:header-logo-url              "/pub/images/help32-2.png");; LAMsight is "/pub/images/logo.png"
 (:footer-copyright             "Copyright (c) 2009 <a href=\"http://media.mit.edu/\">MIT Media Laboratory</a> (Ian Rulz!)")

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 ;; Applications
 (:enabled-tabs)
 (:clinician-dashboard)
 (:collect)
 (:forums)
 (:explore :admin)
 (:create :admin))

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-notification-enabled-p nil)

 ;; Twitter Update Module
 (:twitter-enabled-p            nil)
)

 
