;;
;; Registry Site Configuration
;;
;; This is for LAMsight or ILR w/ in a developer configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             t)
 (:installation-path            nil)
 (:site-base-url                "localhost:8080")
 (:google-analytics-id 		nil)
 (:google-api-url		"http://www.google.com/jsapi?key=ABQIAAAAS6WWQbiomrd3kZWp6NQKlRRW9Ojj9uefPpNH758_wpruabskfBTQFAScx6CR5O7NP3RaWfwXK70_5A")

 ;; Main Page Customization
 ;(:site-description 		nil)
 ;(:header-logo-url              nil)
 ;(:header-logo-text		"Registry (Development)")
 (:footer-copyright             "Copyright (c) 2011 <a href=\"http://media.mit.edu/\">MIT Media Laboratory</a> and the <a href=\"http://curelam.org\">LAM Treatment Alliance</a>")

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-admin-address          "ILRHelp@lamtreatmentalliance.org")
 (:email-smtp-host		"mail.lamtreatmentalliance.org")
 (:email-smtp-authentication	(:login "ilrhelp@lamtreatmentalliance.org" "ilrhelp1"))
 (:email-to-users-p nil)
 (:email-notification-enabled-p nil)

 ;; Twitter Update Module
 (:twitter-enabled-p            nil)
)

:EOF
