;;
;; Registry Site Configuration
;;
;; This is for LAMsight or ILR w/ in a developer configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             t)
 (:installation-path            nil)
 (:site-base-url                "localhost:8080")
 (:google-analytics-id 		nil)
 (:google-api-url		"http://www.google.com/jsapi?key=ABQIAAAAS6WWQbiomrd3kZWp6NQKlRRW9Ojj9uefPpNH758_wpruabskfBTQFAScx6CR5O7NP3RaWfwXK70_5A")

 ;; Main Page Customization
 (:site-description 		nil)
 ;(:header-logo-url              nil)
 (:header-logo-text		"Registry (Development)")
 (:footer-copyright             "Copyright (c) 2009 <a href=\"http://media.mit.edu/\">MIT Media Laboratory</a> (Ian Rulz!)")

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-admin-address          "eslick@media.mit.edu")
 (:email-smtp-host		"smtp.media.mit.edu")
 ;(:email-smtp-authentication	(:plain "username" "password"))
 (:email-to-users-p nil)
 (:email-notification-enabled-p nil)

 ;; Twitter Update Module
 (:twitter-enabled-p            nil)
)

:EOF
