;;
;; Registry Site Configuration
;;
;; This is for LAMsight in a release / production configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             nil)
 (:installation-path            "/usr/local/lamsight/registry/")
 (:site-base-url                "www.internationallamregistry.org")
 (:enable-access-logging	nil)
 (:google-analytics-id 		nil)
 (:google-api-key		"https://www.google.com/jsapi?key=ABQIAAAAS6WWQbiomrd3kZWp6NQKlRQ0eTDV3-R9r6HsjgXLwSbO_rl7QhSfGF2chIQTyTTu_IknKXTb7Oyalw")
 (:login-self-register-disable	t)
 (:all-patients-identification-mode :ilr)

 ;; Main Page Customization
 (:site-name                    "International LAM Registry")
 (:site-description 		nil)
 (:email-admin-address          "admin@internationallamregistry.org")
 (:email-smtp-host		"smtp.media.mit.edu")
 (:header-logo-url		"/pub/images/world_map_100px.png")
 (:header-logo-text  		:site-name)
 (:header-languages-menu-hide	t)
 (:footer-copyright             "ILR Copyright (c) 2009 LAM Treatment Alliance and MIT Media Laboratory")

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 (:site-application-plugins
   (clinician-home 
     :plugins (user-controls recent-topics-widget))
   (collect 
     :name "Input Data")
   (report 
     :permissions (admin editor)
     :plugins (analytics))
   docs
   (editor :permissions (admin editor))
   (admin :permissions (admin)))

 ;; Application Plugin Configuration

 (:front-page
  :content-pages
  (("about" . "public-about")))

 (:registry-root
  :content-pages
  (("about" . "public-about")
   ("terms-of-use" . "terms-of-use")
   ("privacy-policy" . "privacy-policy")))

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-to-users-p nil)
 (:email-notification-enabled-p nil)

 ;; Twitter Update Module
 (:twitter-enabled-p            nil)

 ;; Collect survey viewer
 (:survey-viewer-default-view "study")
 (:survey-viewer-show-choose-patient-widget t)
 (:survey-viewer-show-diaries-separate nil)
 (:survey-viewer-show-view-studies-button t)
 (:survey-viewer-show-comments nil)
 )

:EOF
