;;
;; Registry Site Configuration
;;
;; This is for ILR in a beta test configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             t)

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-to-users-p nil)
 (:email-notification-enabled-p nil)

 ;; Twitter Update Module
 (:twitter-enabled-p            nil)
)

:EOF
