;;
;; Registry Site Configuration
;;
;; This is for LAMsight w/ in a developer configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             nil)
 (:installation-path            "/usr/local/lamsight/registry/")
 (:site-base-url                "localhost:8080")
 (:google-analytics-id 		nil)

 ;; Main Page Customization
 (:site-name                    "International LAM Registry")
 (:site-description 		"")
 (:email-admin-address          "ilr-admin@media.mit.edu")
 (:header-logo-url		nil)
 (:header-logo-text  		:site-name)
 (:footer-copyright             "ILR Copyright (c) 2009 LAM Treatment Alliance and MIT Media Laboratory")

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 (:site-application-plugins
   (clinician-home 
     :plugins (recent-topics-widget))
   collect
   forums
   docs
   (editor :permissions (admin editor))
   (admin :permissions (admin)))

 ;; Application Plugin Configuration

 (:front-page
  :content-pages nil)

 (:registry-root
  :content-pages nil)

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-to-users-p nil)
 (:email-notification-enabled-p nil)

 ;; Twitter Update Module
 (:twitter-enabled-p            nil)

 ;; Collect survey viewer
 (:survey-viewer-show-comments nil)
 (:survey-viewer-show-diaries-separate nil)
 (:survey-viewer-default-view "study")
 (:survey-viewer-show-view-studies-button t)
 )

:EOF
