;;
;; Registry Site Configuration
;;
;; This is for LAMsight in a release / production configuration
;;

(
 ;; System behavior and configuration
 (:enable-debugging             nil)
 (:installation-path            "/usr/local/lamsight/registry/")
 (:site-base-url                "www.lamsight.org")
 (:google-analytics-id 		"UA-11911393-1")
 (:google-api-key		"https://www.google.com/jsapi?key=ABQIAAAAS6WWQbiomrd3kZWp6NQKlRTis5Ic8j2fcPlujJn4MmLnKMI5dRQeJgMsMNckdlzW9H-j6zfGHEWmLw")
 (:login-self-register-disable	nil)

 ;; Main Page Customization
 (:site-name                    "LAMsight")
 (:site-description 		"Collective Discovery for LAM")
 (:email-admin-address          "lamsight-admin@media.mit.edu")
 (:header-logo-url              "/pub/images/logo.png")
 (:footer-copyright             "Copyright (c) 2009 <a href=\"http://media.mit.edu/\">MIT Media Laboratory</a> (<a href=\"http://newmed.media.mit.edu\">New Media Medicine</a>)")

 ;; ============================
 ;; SITE MODULES
 ;; ============================

 (:site-application-plugins
   (patient-home 
     :plugins (user-controls user-map-widget recent-topics-widget
              (blog-widget :title "Breaking News" :entries-per-page 1)))
   collect
   forums
   explorer
  (editor :permissions (admin editor))
  (admin :permissions (admin)))

 ;; Application Plugin Configuration

 (:front-page
  :content-pages
  (("collect" . "public-tour-collect")
   ("discuss" . "public-tour-discuss")
   ("explore" . "public-tour-explore")
   ("create" . "public-tour-create")
   ("about" . "public-about")
   ("est-consent" . "estrogen-study-consent")
   ("est-public-intro" . "estrogen-study-intro-public")
   ("est-private-intro" . "estrogen-study-intro-private")
   ("est-protocol" . "estrogen-study-protocol")))

 (:registry-root
  :content-pages
  (("about" . "public-about")
   ("terms-of-use" . "terms-of-use")
   ("privacy-policy" . "privacy-policy")
   ("est-consent" . "estrogen-study-consent")
   ("est-public-intro" . "estrogen-study-intro-public")
   ("est-private-intro" . "estrogen-study-intro-private")
   ("est-protocol" . "estrogen-study-protocol")))

 ;; =========================
 ;; PLUGINS
 ;; =========================

 ;; Email Notifications
 (:email-to-users-p t)
 (:email-notification-enabled-p t)

 ;; Twitter Update Module
 (:twitter-enabled-p            t)
 (:twitter-username             "lamsight")
 (:twitter-password             "1lamsight23")

 ;; Collect survey viewer
 (:survey-viewer-show-comments t)
 (:survey-viewer-show-diaries-separate t)
)

:EOF
