div.question-summary-widget {
    margin: 3px;
    padding: 3px;
    border: 2px solid #888;
    background: #FFF5F0;
    margin-bottom: 20px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
}

div.question-summary-widget fieldset
{
    border: 0px;
}

div.question-summary-widget fieldset textarea
{
    width: 80%;
    height: 3em;
    margin-left: 10px;
}

div.question-summary-widget fieldset input
{
    width: 70%;
}


div.question-summary-widget div.selected 
{
    background: #ddd;
}

div.question-summary-widget div.question-input {
    margin-left: 30px;
    margin-top: 10px;
}

div.question-summary-widget div.question-prompt {
    cursor: move;
    background: #6A8DA9;
    color: #FFFFFF;
    margin: 0px;
    padding: 0.5em;
    border-bottom: 2px solid #aaa;
    border-top: 2px solid #aaa;
}

div.question-summary-widget span.question-prompt-text {
    float: left;
    width: 80%;
}

div.question-summary-widget span.question-summary-actions {
    float: right;
}

#draggable-questions {
  list-style: none;
}

/*
div.question-summary-widget a
{
    display: block;
    width: 200px;
    text-align: center;
    background: #CAD0DC;
    color: #6C7177;
    text-decoration: none;
    border: 1px solid;
    float: left; 
}
*/