#recent-activity fieldset label
{
  display: block;
}

#recent-activity .buttons { text-align: right }

#recent-activity {
 background: #f7f7f0;
 border: 1px outset #998;
 float: right;
 font-size: 9px;
 padding: .8em;
 position: relative;
 margin: 0 1em 1em;
}

