.commentLevel0{
	margin-left: 5px;
	margin-bottom: 10px;
}

.commentLevel1{
	margin-left: 55px;
	margin-bottom: 10px;
}

.commentLevel2{
	margin-left: 105px;
	margin-bottom: 10px;
}

.commentLevel3{
	margin-left: 155px;
	margin-bottom: 10px;
}

.commentLevel4{
	margin-left: 205px;
	margin-bottom: 10px;
}

.commentLevel5{
	margin-left: 255px;
	margin-bottom: 10px;
}

.commentLevel6{
	margin-left: 305px;
	margin-bottom: 10px;
}

.commentLevel7{
	margin-left: 355px;
	margin-bottom: 10px;
}

.commentLevel8{
	margin-left: 405px;
	margin-bottom: 10px;
}

.commentLevel9{
	margin-left: 455px;
	margin-bottom: 10px;
}

.commentLevel10{
	margin-left: 505px;
	margin-bottom: 10px;
}

